<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zb.mapper.BuyGoodsTempMapper">
    <insert id="addBuyGoodsTemp" parameterType="com.zb.pojo.BuyGoodsTemp">
        INSERT INTO `buygoods_temp` VALUES(NULL,#{goodsId},#{userId},#{price},#{num},now())
    </insert>
</mapper>  